#-----------------------
### custom rules for docker (if shorewall < v5.0.6)
#-----------------------
{# #}
{#--#}{% if shorewall_docker_fix_needed is defined and shorewall_docker_fix_needed %}
if iptables -t nat -L DOCKER >/dev/null 2>&1; then
    echo '*nat' >/etc/shorewall/docker_rules
    iptables -t nat -S DOCKER >>/etc/shorewall/docker_rules
    iptables -t nat -S POSTROUTING >>/etc/shorewall/docker_rules
    echo "COMMIT" >>/etc/shorewall/docker_rules

    echo '*filter' >>/etc/shorewall/docker_rules
    iptables -S DOCKER >> /etc/shorewall/docker_rules
    echo "COMMIT" >>/etc/shorewall/docker_rules
fi
{#--#}{% endif %}
{# #}


#-----------------------
### custom rules from ansible variables
#-----------------------
{% if shorewall_stop_script is defined %}
{{ shorewall_stop_script }}
{% endif %}
